header {
   
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-nav {
  margin-left: 5rem;
}

body {
  padding-top: 106px;
}
.navbar-brand img {
  height: 80px;
  width: auto;
  object-fit: contain;
  vertical-align: middle;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.top-head .nav-link {
  color: #fff;
  font-size: 16px;
  transition: all 0.5s;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.top-head .nav-link:hover {
  color: #febd2f !important;
}

.fixed-menu .nav-link {
  color: #000 !important;
}
.top-head .nav-link-about {
  color: #fff;
  font-size: 16px;
  padding-top: 7px;
  transition: all 0.5s;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.top-head .nav-link-about:hover {
  color: #000000 !important;
}

.fixed-menu .nav-link-about {
  color: #febd2f !important;
}

.top-head .signiup {
  border-radius: 50px;
  font-weight: 500;
  background: #febd2f;
  color: #fff;
  padding: 7px 20px;
  font-size: 16px;
  display: inline-block;
  border: solid 1px #febd2f;
}

.top-head .signiup:hover {
  background: none;
  color: #febd2f;
}

.offcanvas-body .nav-link {
  font-size: 1.2rem;
  padding: 10px 0;
}
.offcanvas-body .btn {
  width: 100%;
  text-align: center;
}


.offcanvas-body .btn {
  display: block;        
  width: 100%;           
  text-align: left;      
  margin-top: 10px;      
  border-radius: 8px;    
  padding-left: 10px;    
}

.offcanvas-body .btn i {
  margin-right: 8px;     
}

.fixed-menu {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 4px -86px 123px rgb(0 0 0 / 78%);
  z-index: 99;
}
.about {
  padding: 80px 20px;
  text-align: center;
 
   background: url('images/cook.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
 
}


.about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: gold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about p {
  max-width: 700px;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 1.1rem;
  text-shadow: 1px 1px 2px #000000;

  color: #fffcfc;
}


.footer {
  background: #111; 
  color: #aaa;       
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 14px;
}

.footer .footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer .social-links a {
  color: #ffffff;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: gold; 
}
